*.pyc
*.pkl
*.swp
*~
.project
.pydevproject
ltlgen.smv
ltlgen.ltl
ltlgen.aut
ltlgen.debug
.DS_Store
.settings
/SUBTLEPipeline-master
/SUBTLEPipeline-master.zip
/nlpipeline
/nlpipeline.zip
build
CMakeFiles
CMakeCache.txt
srv_gen
*.step*.aut
*.step*.ltl
*.step*.spec
*.step*.smv
