*.pyc
*.pkl
*.swp
*~
.project
.pydevproject
ltlgen.debug
.DS_Store
.settings
/SUBTLEPipeline-master
/SUBTLEPipeline-master.zip
/nlpipeline
/nlpipeline.zip
build
CMakeFiles
CMakeCache.txt
srv_gen
*.step*.spec
*.ltl
*.smv
*.aut
