$def with (prompt=None)
<!doctype html>
 
<html>
 
    <head>
	<script type="text/javascript">
	function myFunction()
	{
	alert("$prompt");
	}
	if ("$prompt" != "")
		{
		myFunction();
		}
	</script>
	    <blockquote>
    		Welcome to the Pragbot basic training portal. 
    		Read each prompt and try to get Junior, the robot, to do what the prompt says 
    		in a single sentence.
    		Make sure to:
    		<ul>
    			<li>End each sentence with a period(.).</li>
    			<li>Have fun!</li>
    		</ul>    		
    	</blockquote>
	</head>
