<!doctype html>
 
<html>
 
    <head>
    	<blockquote>
    		Welcome to the Pragbot Semantics training portal. 
    		Read each prompt and try to get Junior, the robot, to do what the prompt says 
    		in a single sentence.
    		Make sure to:
    		<ul>
    			<li>Use good punctuation: commas and periods where appropriate. Junior is picky about that.</li>
			<li>Don't leave out articles (a/the) or prepositions.</li>
    			<li>Junior isn't very chatty. Don't call him by name, say hello, or ask him questions.
			Just tell him what you need him to do.</li>
			<li>Talk to Junior like you might talk to someone who needs instructions from you. Don't try to use unnatural shorthand that sounds like something Tarzan might say.</li>
    		</ul>    		
    		The training phase after this one is simulation training where you will command an actual robot simulation. That's the fun part!
    	</blockquote>
		 
	</head>
