# This is a configuration definition file.
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
defuse = Junior.pragbotActuator.defuse()

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Junior

Name: # Configuration name
pragbotTrainingModerate

Region_Tags: # Mapping from tag names to region groups, for quantification
{"rooms": ["office","kitchen","conservatory","lab"],
"east_rooms": ["conservatory","office"], "west_rooms": ["lab","kitchen"]}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
hostage = Junior.pragbotSensor.get_sensor(sensor_name="hostage")
badguy = Junior.pragbotSensor.get_sensor(sensor_name="badguy")
bomb = Junior.pragbotSensor.get_sensor(sensor_name="bomb")
defuse_done = Junior.pragbotSensor.get_sensor(sensor_name="defuse_done")


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
pragbotActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
holonomicDrive(multiplier=1.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
pragbotInit()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nullLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
pragbotMotion()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
pragbotPose()

RobotName: # Robot Name
Junior

SensorHandler: # Sensor handler file in robots/Type folder
pragbotSensor()

Type: # Robot type
pragbot

